<header>
  <h1>TinyURL</h1>

    <% if (user) { %>
      <p> Welcome <%= user.username %> (<%= user.email %>)! </p>
        <form method = "POST" action = "/logout">
          <button>Log Out</button>
        </form>
    <% } else { %>
      <form method = "GET" action = "/login" style = "display: inline">
        <button>Login</button>
      </form>
      <form method = "GET" action = "/register" style = "display: inline">
        <button>Register</button>
      </form>
    <% } %>

</header>


