<header>
  <h1>Header Title</h1>

    <% if (username) { %>
      <p> Welcome to your short URLs <%= username %>!
        <form method = "POST" action = "/logout">
          <button>Log Out</button></p>
        </form>
    <% } else { %>
      <form method = "POST" action = "/login">
        <input type = "text" name = "username" placeholder = "Username">
        <button>Submit</button>
      </form>
    <% } %>

</header>


