<header>
  <h1>TinyURL</h1>

    <% if (username) { %>
      <p> Welcome <%= username %> (<%= email %>)!
        <form method = "POST" action = "/logout">
          <button>Log Out</button></p>
        </form>
    <% } else { %>
      <form method = "GET" action = "/login" style = "display: inline">
        <button>Login</button>
      </form>
      <form method = "GET" action = "/register" style = "display: inline">
        <button>Register</button>
      </form>
    <% } %>

</header>


