<!doctype html>
<html>

  <% include ./partials/_head.ejs %>

  <body>
    <header>
      <h1>TinyURL</h1>
      <p><b>Login to access your short URLs</b></p>
        <form method = "POST" action = "/login" style = "display: inline">
          <label>Your E-Mail<input type = "email" name = "email" placeholder = "Your E-Mail"></label><br>
          <label>Your Password<input type = "password" name = "password" placeholder = "Password"></label><br>
          <button>Login</button>
        </form><br>
        <p>Not registered? Click below to register your new account.</p>
        <form method = "GET" action = "/register" style = "display: inline">
          <button>Register</button>
        </form>
    </header>
  </body>

</html>