<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_head.ejs %>

  <body>
      <!-- Add your EJS code here -->
      <% include ./partials/_header.ejs %>

      <h3> Short URL: <%= shortURL %> </h3>
      <p>
        <form method = "POST" action "/urls/:id" style = "display: inline">
          <input type = "text" name = "longURL" placeholder = <%= link[shortURL] %>>
          </input>
          <button>Update URL</button>
        </form>
      </p>



  </body>
</html>