<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_head.ejs %>

  <body>
      <!-- Add your EJS code here -->

      <% include ./partials/_header.ejs %>


      <% if (username !== "") { %>
        <table>
          <% for (let link in urls) { %>
            <tr>
              <a href = <%= urls[link].longURL %>><%= urls[link].longURL %></a>
              <form method = "GET" action = "/urls/<%= link %>">
                <button>Edit</button>
              </form>

              <form method = "POST" action = "/urls/<%= link %>/delete">
                <button>Delete</button>
              </form>
            </tr><br>
          <% } %>
        </table>
      <% } else { %>
        <p>Create an account to make your own short URL.</p>
      <% } %>

      <h3><a href = "/urls/new">Shorten another link!</a></br></h3>

  </body>
</html>







