<header>
  <h1>Miniaturize your URL!</h1>
    <form method = "POST" action = "/login" style = "display: inline">
      <input type = "email" name = "email" placeholder = "Your E-Mail"><br>
      <input type = "password" name = "password" placeholder = "Password"><br>
      <button>Submit</button>
    </form><br>
    <p>Not registered? Click below to register your new account.</p>
    <form method = "GET" action = "/register" style = "display: inline">
      <button>Register</button>
    </form>

</header>
